<!-- We add the views with this line, we use: -->
<%- include("template/cabecera", {titlePage: 'About'}) %>

    <!-- This is a variable received from app.js-->
    <h1><%= tituloAbout %></h1>

<!-- This add the footer view-->
<%- include("template/footer") %>

