<!-- We add the views with this line, we use: -->
<%- include("template/cabecera", {titlePage: 'About'}) %>
<%- include("template/navbar") %>
    <!-- This is a variable received from app.js-->
    <h1 class="text-center "><%= tituloAbout %></h1>
    <div class="container">
        <img src="/images/avatarVasti.png" class="rounded mx-auto d-block" height="25%">
        <p class="text-center mt-3"><b>Vasti Gabriela Flores Zelaya</b></p>
        <p class="text-center"><b>SMIS003119</b></p>
    </div>

<!-- This add the footer view-->
<%- include("template/footer") %>

