<%- include("template/cabecera", {titlePage: 'Index'}) %>

    <h1>Usando Engine EJS</h1>
    <!-- This is a variable-->
    <h2><%= titulo %></h2>
    <!-- This add the footer view-->
    <%- include("template/footer") %>
