<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand">Programación Computacional IV</span>
</nav>
<div>
    <h1>Mongo DB</h1>
    Si ya posee cuenta inicie sesión <a href="login" class="badge badge-primary">Login</a>
    o cree una cuenta <a href="register" class="badge badge-success">Register</a>
</div>